body {
  margin: 0%;
}
.daym {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 2cap;
  box-shadow: 5px 5px 5px rgb(235, 162, 3);
  height: 300px;
  margin-top: 20px;
  overflow: hidden;
}
.card img {
  width: 100%;
  border-radius: 1cap;
  height: 150px;
  object-fit: cover;
  max-width: auto;
}
.card h2 {
font-size: small;
margin-top: 1px;
}
.card h3 {
  font-size: small;
}

.iklan{
  width: 32rem;
  border: 1px solid black;
  margin-top: 70px;
  overflow: hidden;
  border-radius: 1cap;
}
.iklan img {
  width: 100%;
  border-radius: 1cap;
  height: 250px;
  max-width: auto;
}
.kategori{
  width: 50px;
  margin-top: 20px;
  overflow: hidden;
  margin-top: 40px;
  overflow: hidden;
}
.kategori img {
  width: 100%;
  border-radius: 100%;
  height: 50px;
}
.kategori h2{
  text-align: center;
  font-size: 14px;
}

.card:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #f09819 0%,
    #edde5d 51%,
    #f09819 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 20px #f09819;
}
 
    .whatsapp-btn {
      background-color: #25D366;
      color: white;
      padding: 15px 25px;
      border-radius: 8px;
      text-decoration: none;
      font-size: 18px;
      font-weight: bold;
      transition: 0.3s;
    }
    .whatsapp-btn:hover {
      background-color: #1ebe5d;
    }

    nav {
      background-color: blanchedalmond;
      padding: 10px 0;
      display: block;
      width: 100%;
      text-decoration: none;
      position: fixed;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 30px;
    }
